<br/>
<br/>
{{input class="form-control" value=theFilter type='text' placeholder='Filter'}}

  {{custom-table
  hasFooter=false
  columns=tableColumns
  content=tableContent
  }}


<button {{action "sortDate"}}>Sort By Date</button>
<button {{action "sortHigh"}}>Sort By High</button>
<button {{action "sortLow"}}>Sort By Low</button>